[submodule "hiddify-sing-box"]
	path = hiddify-sing-box
	url = git@github.com:Jannerzhang/hiddify-sing-box.git
	branch = dev
[submodule "ray2sing"]
	path = ray2sing
	url = git@github.com:Jannerzhang/ray2sing.git
	branch = dev
